body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: rgb(251, 244, 236);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
header {
  background-color: rgb(189, 106, 113);
  height: 4rem;
  border-radius: 5px;
  margin: 0.8rem 5rem 0.5rem 5rem;
  display: flex;
  justify-content: space-between;
  
}
img {
  width: 5rem;
  height: 4rem;
  margin-top: 0;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 3.5rem;
  
}

/* Buscador y filtrador*/
main {
  display: flex;
  justify-content: space-evenly;
}
.buscador_div {
  margin: 1.5rem 0rem 0.5rem 0rem;
}
.buscador_input {
  height: 2.2rem;
  width: 20rem;
  margin-top: 0.3rem;
}
.titulo {
  color: rgb(71, 69, 69);
}
select {
  margin-right: 1rem;
}
button {
  margin: 4rem 2rem 0 0;
  background-color: rgba(189, 106, 113, 0.743);
  color: rgb(255, 255, 255);
  height: 2.2rem;
  border: 2px solid gray;
  border-radius: 3px;
  width: 9rem;
}

/* Sección cards */
section {
  margin: 2.5rem 5rem 3rem 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 40%;
  border-radius: 10px;
  border: 2px solid red;
  padding: 0.5rem;
  box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.2);
}
.card-title {
  color: rgb(23, 23, 180);
}
.card-text {
  font-size: 1.2rem;
  
}